[submodule "third_party/deps/TinySHA1-src"]
	path = third_party/deps/TinySHA1-src
	url = https://github.com/mohaps/TinySHA1
[submodule "third_party/deps/asio-src"]
	path = third_party/deps/asio-src
	url = https://github.com/chriskohlhoff/asio.git
[submodule "third_party/deps/outcome-src"]
	path = third_party/deps/outcome-src
	url = https://github.com/ned14/outcome.git
[submodule "third_party/deps/CxxUrl-src"]
	path = third_party/deps/CxxUrl-src
	url = https://github.com/chmike/CxxUrl.git
